[submodule "sdm845Pkg/Binary"]
	path = sdm845Pkg/Binary
	url = https://github.com/edk2-porting/edk2-sdm845-binary.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "sdm845Pkg/AcpiTables"]
	path = sdm845Pkg/AcpiTables
	url = https://git.renegade-project.org/edk2-sdm845-acpi.git
[submodule "sdm845Pkg/Library/SimpleInit"]
	path = sdm845Pkg/Library/SimpleInit
	url = https://github.com/BigfootACA/simple-init.git
[submodule "sdm845Pkg/Application/TetrisApp"]
	path = sdm845Pkg/Application/TetrisApp
	url = https://github.com/j0sh1x/TetrisApp.git
